@import "math";
@import "fonts";

@import "../bower_components/Revealing.js/src/revealing";

$logo-width: 180px;

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    // border-bottom: .0625rem dotted;

    &:hover {
        color:#0276b0;
    }
}

blockquote {
    font-family: Menlo, "Helvetica Neue", Helvetica, sans-serif;

    &::before {
        content: "“";
    }
    &::after {
        content: "”";
    }
    &::before, &::after {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        color: #888;
    }
}

img {
    max-width: 100%;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.facebook-like {
    background: #3b5998;
    color: #fff !important;

    &:hover {
        background: lighten(#3b5998, 20%) !important;
    }
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.container--fullwidth {
    max-width: 100%;
}

.main-head {
    background: #f0f0f0;
    padding: 1em 0em;
    overflow: auto;

    // top fixed
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    text-align: center;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;

    span {
        width: $logo-width;
        color: #000;
        font-family: 'Maven Pro', "Helvetica Neue", sans-serif;
    }
}
.logo--big {
    margin-top: 3em;
    margin-bottom: 2em;

    span {
        font-size: 9em;
    }
}
.logo--image {
    img {
        margin: 2em auto 2em auto;
    }
}

.nav-table {
    position: relative;
}
.nav {
    list-style: none;
    padding: 0px;
    margin: 0px;

    > li {
        display: inline-block;
        margin: 0px;

        & + li {
            margin-left: .5em;
        }

        > a {
            display: block;
            color: #333;
            padding: 0.5em 0.8em;

            &:hover {
                background-color: #ddd;
                color: #000;
            }
        }
    }
}
.nav--left {
    float: left;
}
.nav--logo {
    position: absolute;

    // center the logo
    left: 50%;
    margin-left: -$logo-width/2;
    width: $logo-width;

    // vertically centered too
    line-height: 1.5em;

    .logo {
        font-size: 2.2em;
    }
}
.nav--right {
    float: right;
}

.title {
    text-align: center;
}

.title--boxed {
    font-family: "Another Shabby", sans-serif;
    font-size: 2rem;

    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.title--sandwich {
    font-family: "Aleo", sans-serif;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.75em;

    span {
        font-weight: 500;
        font-size: 1.4em;

        display: block;
        margin-top: 0.2em;
    }
}

.title--underlined {
    font-family: "Another Shabby", sans-serif;
    font-size: 2rem;
    text-decoration: underline;

    margin-bottom: 0.15em;
}

.inner-container {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.paragraph {
    font-family: "Goudy Bookletter", sans-serif;
    font-size: 1.4rem;
    line-height: 160%;  // for readibility
    text-align: center;

    margin: 0;
    margin-bottom: 2em;

    & + .paragraph {
        margin-top: 1em;
    }
}

$hero-doublequote-size: 20px;
.hero-quote {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;

    blockquote {
        margin: 0 0 0 $hero-doublequote-size;

        &::before {
            content: "";
            margin-left: -$hero-doublequote-size;
        }
        &::after {
            content: "";
        }
        &::before, &::after {
            display: inline-block;
            width: $hero-doublequote-size;
            font-size: 2em;
            line-height: 1em;
            color: #888;
        }
    }
}

.links {
    margin-top: 4em;
    margin-bottom: 2em;

    .link {
        display: inline-block;
        width: 33%;
        text-align: center;

        a {
            display: block;
            background: #f0f0f0;
            padding: 2em 0;

            &:hover {
                background: #ccc;
            }
        }
    }
}

$person-per-row-desktop: 16;
$person-per-row-lap: 12;
$person-per-row-palm: 8;
.people {
    margin-top: 4em;

    // activate the GPU
    transform: transale3d(0,0,0); 
}
.person {
    display: block;
    float: left;
    width: 100% / $person-per-row-desktop;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }

    img {
        display: block;
        max-width: 100%;
    }
}
@media screen and (max-width: 890px) {
    .person {
        width: 100% / $person-per-row-lap;
    }
}
@media screen and (max-width: 640px) {
    .person {
        width: 100% / $person-per-row-palm;
    }
}
