////
// BUTTONS
//

button {
    padding: 0.8em 1.5em;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10em;

    background: #ccc;
    color: #fff;
    font-family: "Aleo", sans-serif;
    // font-weight: 200;
    font-weight: 300;
    text-transform: uppercase;

    opacity: 1.0;
    position: relative;
    top: 0px;

    &:hover, &[disabled] {
        opacity: 0.6;
    }
    &:not([disabled]):active {
        opacity: 1.0;
        top: 2px;
    }

    canvas {
        pointer-events: none;
    }
}

.button--black {
    background: #2b2b2b;
    color: #fff;
}
.button--block {
    display: block;
}
.button--fluid {
    width: 100%;
}
.button--small {
    font-size: 1.2rem !important;
}
.button--extra-small {
    font-size: 1rem !important;
}
.button--facebook {
    background-color: $blue-color;
}
.button--twitter {
    background-color: #55acee;
}
.button--inversed {
    background-color: #fff;
    color: #333;
    font-weight: 400;
}

.button-group {
    margin-bottom: 2.5em;

    button + button {
        margin-top: 1em;
    }
}
.button-group--centered {
    text-align: center;
}

.progress-button {
    position: relative;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
    cursor: default;
}

.progress-button .content {
    position: relative;
    display: block;
    z-index: 10;
}

.progress-button .content::before,
.progress-button .content::after  {
    position: absolute;
    right: 20px;
    color: #0e7138;
    font-family: "icomoon";
    opacity: 0;
    transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
    content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
    content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
    opacity: 1;
}

.notransition {
    transition: none !important;
}

.progress-button .progress {
    background: #148544;
}

.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background: #3b5998;
}

.progress-button[data-horizontal] .progress-inner {
    top: 0;
    width: 0;
    height: 100%;
    transition: width 1.5s, opacity 0.3s;
}
