////
// FIGURE
//

.figure {
    & + .figure {
        margin-top: 3em;
    }

    .paragraph {
        margin-bottom: 0em;
    }
}
.figure__number {
    display: block;
    width: 100%;

    line-height: 1.1em;
    font-size: 6em;
    text-align: center;
    font-family: "Aleo", sans-serif;
}

.figure--small {
    .figure__number {
        font-size: 3em;
    }
}
.figure--extra-small {
    .figure__number {
        font-size: 2em;
    }
}