<!doctype html>
<html class="no-js">
    <head>
        <title>y website</title>
        <meta name="description" content="">
        <meta name="signet:authors" content="Arnaud Jardin, Pierre Dulac">
        <meta name="signet:links" content="http://twitter.com/ArnaudJardin, http://github.com/dulaccc, http://twitter.com/dulaccc">

        <meta property="og:locale" content="fr_FR">
        <!-- @@placeholder = opengraphMetadata -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <link rel="stylesheet" href="styles/_empty.css">
        <link rel="stylesheet" href="bower_components/pace/themes/black/pace-theme-minimal.css">
        <link rel="stylesheet" href="bower_components/tether-tooltip/css/tooltip-theme-arrows.css" />
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/head.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script data-pace-options='{ "target": ".main-head", "ajax": { "trackMethods": ["GET", "POST"] } }' src="bower_components/pace/pace.js"></script>
        <!-- endbuild -->

        <!--[if IE]><script src="bower_components/excanvas/excanvas.js"></script><![endif]-->
    </head>
    <body>
        <% if (google_analytics_id) { %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '<%= google_analytics_id %>', 'auto');
            ga('send', 'pageview');
        </script>
        <% } %>

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="main-head main-head--fixed slide">
            <div class="container container--ref">
                <div class="nav-table">
                    <ul class="nav nav--left">
                        <li><a href="/manifeste.html">Manifeste</a></li>
                        <li><a href="/reponses.html">Questions/Réponses</a></li>
                    </ul>

                    <div class="nav--logo">
                        <div class="logo">
                            <a href="/"><span>y</span></a>
                        </div>
                    </div>

                    <ul class="nav nav--right">
                        <li><a class="facebook-like next-event" href="#/rejoindre">rendez-vous</a></li>
                        <li><a href="mailto:contact@mouvementy.com">Un message ?</a></li>
                    </ul>
                </div>

                <div class="events">
                    <p>Pour savoir où et quand aura lieu le premier événement &laquo; y &raquo; &hellip;</p>
                    <div class="form-wrapper">
                        <form class="form" action="<%= subscribeEventsNotificationFormAction %>" method="post">
                            <input class="newsletter-email" type="text" name="email" placeholder="Entrez votre email" autocomplete=off autocorrect=off autocapitalize=off spellcheck=false>
                            <button type="submit" class="submit submit--bounce-in button--fluid button--inversed progress-button" data-style="fill" data-horizontal>
                                <span class="content">S'abonner</span>
                                <span class="progress">
                                    <span class="progress-inner notransition"></span>
                                </span>
                            </button>
                            <div class="errors-wrapper errors-wrapper--empty"></div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!-- @@placeholder = content -->

        <footer class="main-foot">
            <div class="container">
                <hr class="rule">
                <p><a href="/qui.html">Qui est derrière ce site ?</a></p>
            </div>
        </footer>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/retina.js/src/retina.js"></script>
        <script src="bower_components/picoModal/src/picoModal.js"></script>
        <script src="bower_components/signature_pad/signature_pad.js"></script>
        <script src="bower_components/headroom.js/dist/headroom.js"></script>
        <script src="bower_components/tether/tether.js"></script>
        <script src="bower_components/drop/js/drop.js"></script>
        <script src="bower_components/signet/signet.js"></script>
        <script src="bower_components/skrollr/src/skrollr.js"></script>
        <script src="bower_components/smooth-scroll/dist/js/bind-polyfill.js"></script>
        <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.js"></script>
        <script src="bower_components/tether-tooltip/js/tooltip.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/boxme.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <% if (useFaker === true) { %>
        <script src="bower_components/faker/build/build/faker.js"></script>
        <script src="scripts/faking.js"></script>
        <% } %>

        <!-- @@placeholder = additionalScripts -->

    </body>
</html>