////
// HINTS
//

.hint {
    display: none;
    font-size: 0.8em;
}

.hint-scroll {
    display: block;
    position: absolute;
    top: 25%;
    right: 0;

    color: #666;
}
.hint-scroll-text {
}
.hint-scroll-down {
    display: inline-block;
    position: relative;
    margin-top: -22px;
    height: 30px;
}
.hint-scroll-down__arrow {
    position: absolute;
    animation: floating 3s ease-in-out infinite;
}


// Small screens
@media only screen
and (max-width : 1000px) {
    .hint-scroll {
        width: 100%;
        top: 88%;

        text-align: center;
    }
    .hint-scroll-text {
        display: none;
    }
    $hint-scroll-down-mobile-size: 50px;
    .hint-scroll-down {
        width: 100%;
        font-size: $hint-scroll-down-mobile-size;
        color: #ccc;
    }
    .hint-scroll-down__arrow {
        left: 50%;
        margin-left: -$hint-scroll-down-mobile-size/2;
    }
}
