////
// HINTS
//

.hint {
    display: none;
}

.hint--scroll {
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
}
.hint--scroll-down {
    display: block;
    position: relative;
    margin-top: -22px;
    height: 30px;
}
.hint--scroll-down__arrow {
    position: absolute;
    animation: floating 3s ease-in-out infinite;
}


// Small screens
@media only screen
and (max-width : 1000px) {
    .hint--scroll {
        display: none;
    }
}
