////
// LAYOUT
//

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0px 0px 4rem 0px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 1em;
}

a {
    text-decoration: underline;
    color: inherit;
    // border-bottom: .0625rem dotted;

    &:hover {
        color:#0276b0;
    }
}

img {
    max-width: 100%;
}

address {
    margin-bottom: 1.5em;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    font-family: "Freight Text Pro", Georgia, sans-serif;
    font-size: 1.4rem;
    line-height: 160%;  // for readibility
}
.container--ref {
    position: relative;
}
.container--top {
    padding-top: 100px;
}
.container--fullwidth {
    max-width: 100%;
}

.main-head {
    // background: #f0f0f0;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #f0f0f0;
    padding: 0em 0em;
}
.main-head--fixed {
    position: fixed;
    z-index: 1000;
    right: 0px;
    left: 0px;
    top: 0px;
}

.headroom {

}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom--pinned {
    transform: translateY(0%);
}

#logo-full-screen {
    // initial height to be sure nothing else is shown
    // randomly choosen by Arno
    height: 4267px;
    opacity: 0;
    transition: opacity ease-out 0.8s;

    box-sizing: border-box;
    margin-top: 0px;

    img {
        margin-top: 0px;
    }
}

.logo {
    text-align: center;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;

    span {
        width: $logo-width;
        color: #000;
        font-family: 'Maven Pro', "Helvetica Neue", sans-serif;
    }
}
.logo--big {
    margin-top: 3em;
    margin-bottom: 2em;

    span {
        font-size: 9em;
    }
}
.logo--image {
    img {
        margin: 2em auto 2em auto;
    }
}

.inner-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 1em;
}
.inner-container--wider {
    max-width: 700px;
}

.main-foot {
    margin-top: 6rem;
    color: #ccc;

    .rule {
        color: #f0f0f0;
    }

    p {
        text-align: center;
        font-size: 0.9em;
    }
    a {
        text-decoration: none;
    }
}


// iPhone portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    .main-head {
        display: none;
    }
}
