////
// LAYOUT
//

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 1em;
}

a {
    text-decoration: underline;
    color: inherit;
    // border-bottom: .0625rem dotted;

    &:hover {
        color:#0276b0;
    }
}

img {
    max-width: 100%;
}

address {
    margin-bottom: 2em;
}

.visually-hidden { /*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    font-family: "Freight Text Pro", Georgia, sans-serif;
    font-size: 1.4rem;
    line-height: 160%;  // for readibility
}
.container--ref {
    position: relative;
}
.container--top {
    padding-top: 100px;
}
.container--fullwidth {
    max-width: 100%;
}

$main-head-height: 66px;
.main-head {
    // background: #f0f0f0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: #f0f0f0 0px 1px 0px;
    padding: 0em 0em;

    // Adjust the pace style
    .pace {
        bottom: 0px;
        position: absolute;
        width: 100%;

        .pace-progress {
            position: absolute;
            height: 1px;
        }
    }

}
.main-head--fixed {
    position: fixed;
    z-index: 1000;
    right: 0px;
    left: 0px;
    top: 0px;
}

.headroom {

}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom--pinned {
    transform: translateY(0%);
}

#logo-full-screen {
    // NB: `vh` is not fully supported
    //     check
    height: 100vh;
    padding-top: $main-head-height;

    opacity: 0;
    transition: opacity ease-out 0.8s;

    box-sizing: border-box;
    margin-top: 0px;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        display: inline-block;
        vertical-align: middle;

        max-height: 80%;
        max-width: 70%;
    }
}

.logo {
    text-align: center;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;

    span {
        width: $logo-width;
        color: #000;
        font-family: 'Maven Pro', "Helvetica Neue", sans-serif;
    }
}
.logo--big {
    margin-top: 3em;
    margin-bottom: 2em;

    span {
        font-size: 9em;
    }
}
.logo--image {
    img {
        margin: 0 auto;
    }
}

.inner-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 1em;
}
.inner-container--wider {
    max-width: 700px;
}

.main-foot {
    margin-top: 6rem;
    padding-bottom: 4rem;
    color: #bbb;

    .rule {
        color: #f0f0f0;
    }

    p {
        text-align: center;
        font-size: 0.9em;
    }
    a {
        text-decoration: none;
    }
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}


// iPhone portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    .main-head {
        .logo {
            display: none;
        }
    }

    #logo-full-screen {
        img {
            max-height: 50%;
            max-width: 70%;
        }
    }

    // TODO temp fix waiting for the burger icon
    #logo-full-screen {
        padding-top: 0;
    }
}
