////
// NAV
//

.nav-table {
    position: relative;
}
.nav {
    list-style: none;
    padding: 0px;
    margin: 0px;

    > li {
        display: inline-block;
        margin: 0px;

        & + li {
            margin-left: .5em;
        }

        > a {
            display: block;
            color: #333;
            padding: 1.2em 1.2em;
            line-height: 1;
            font-size: 1.2rem;
            font-variant: small-caps;
            text-decoration: none;

            transition: background-color 200ms ease-in;

            &:hover {
                background-color: #eaeaea;
                color: #000;
            }
        }
    }
}
.nav-table--thin {
    .nav {
        > li {
            > a {
                padding-top: 0.4em;
                padding-bottom: 0.4em;
            }
        }
    }
    .nav--logo {
        // reveal
        opacity: 1;
        padding-top: 0.1em;
    }
}
.nav--left {
    float: left;
}
.nav--logo {
    // initially hidden
    opacity: 1;
    transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out;

    position: absolute;

    // center the logo
    left: 50%;
    padding-top: 9px;
    margin-left: -$logo-width/2;
    width: $logo-width;

    // vertically centered too
    line-height: 1rem;
    text-align: center;

    .logo {
        a {
            text-decoration: none;
        }

        font-size: 1.5em;
    }
}
.nav--right {
    float: right;
}

#get-some-news {

}

.nav-btn {
    display: none;
    float: left;

    width: 2.625em;
    height: 2.25em;
    padding: 12px 0 0 0;
    border: 0;
    outline: none;

    background: transparent url("../images/nav-icon.svg") left center no-repeat;
    background-size: 1.875em 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    opacity: 0.7;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-btn--white {
    background-image: url("../images/nav-icon-white.svg");
}
.no-svg {
    .nav-btn {
        background-image: url("../images/nav-icon.png");
    }
    .nav-btn--white {
        background-image: url("../images/nav-icon-white.png");
    }
}
.nav-btn:hover, .nav-btn:focus {
    opacity: 1;
}

#nav-mobile {
    display: none;

    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;

    color: #fff;
    background: #000;
    font-family: "Freight Text Pro", Georgia, sans-serif;
    font-size: 1.1em;

    .block-title {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .block {
        z-index: 2;
        position: relative;
        padding: 0.75em 1.25em;
        background: #333333;
    }

    ul {
        *zoom: 1;
        display: block;

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    li {
        display: block;

        a {
            display: block;
            color: #ccc;
            font-size: 0.875em;
            line-height: 1.28571em;
            font-weight: bold;
            outline: none;

            &:focus, &:hover {
                color: #fff;
                background: rgba(255, 255, 255, 0.1);
            }
        }

        &.is-active a {
            color: #fff;
        }
    }
}


@media screen and (max-width: 45em) {
    .nav-btn {
        display: block;
    }

    #get-some-news {
        // width: 2.625em;
        // height: 2.25em;
        padding: 1.2em 0.5em;

        background-image: url("../images/cal-icon.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 2.5em 2em;

        // hide the text
        text-indent: -2000em;
    }
    .no-svg #get-some-news {
        background-image: url("../images/cal-icon.png");
    }

    #nav-mobile {
        padding-left: 0em;
        box-sizing: border-box;

        position: absolute;
        top: 0;
        padding-top: 0em;

        &:not(:target) {
            z-index: 1;
            height: 0;
        }

        .block {
            position: relative;
            padding: 0;
        }

        .nav-btn {
            position: absolute;
            box-sizing: border-box;
            width: 100%;

            padding: 0;
            margin-left: 0.2em;
            font-size: 1.2em;
        }

        ul {
            margin-top: 0.5em;
            padding-left: 0px;
            padding-top: 2.5em;
            padding-bottom: 2em;
        }

        li {
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 0);

            &:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0);
            }

            &.separator {
                height: 0.6em;
                margin: 1em 0 1em 0;
                background: rgba(255, 255, 255, 0.1);
            }

            &.is-active:after {
                z-index: 50;
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: -0.03125em;
                margin-top: -0.625em;
                border-top: 0.625em transparent solid;
                border-bottom: 0.625em transparent solid;
                border-right: 0.625em white solid;
            }

            a {
                padding: 0.85714em 2.14286em;
                font-size: 1em;
                font-weight: 300;
                line-height: 1.5em;
                text-decoration: none;
            }
        }
    }

    // improved with js
    .js-ready #nav-mobile {
        display: none;
        position: fixed;
        z-index: 2000;

        height: 100%;
        width: 100%;

        background: #333333;
        background: rgba(30, 30, 30, 0.98);
        box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);

        .block {
            height: 100%;

            background: transparent;
            animation: pop-upwards 400ms ease-out;

            text-align: center;

            ul {
                overflow: scroll;
                height: 100%;
                box-sizing: border-box;
            }
        }
    }

    // positionning
    .js-ready #nav-mobile {

    }
    .js-nav #nav-mobile {
        left: 0%;
        display: block;
    }

    // css3 transitions
    // .csstransforms3d.csstransitions.js-ready #nav-mobile {
    //     left: 0;
    //     transform: translate3d(-100%, 0, 0);
    //     backface-visibility: hidden;
    // }
    // .csstransforms3d.csstransitions.js-ready #inner-wrap {
    //     left: 0 !important;
    //     transform: translate3d(0, 0, 0);
    //     transition: transform 500ms ease;
    //     backface-visibility: hidden;
    // }

    // .csstransforms3d.csstransitions.js-nav #inner-wrap {
    //     transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    // }

    // .csstransforms3d.csstransitions.js-ready #nav-mobile .block {
    //     opacity: 0.7;
    //     transition: opacity 500ms ease, transform 500ms ease;
    //     transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    //     transform-origin: 50% 0%;
    // }

    // .csstransforms3d.csstransitions.js-nav #nav-mobile .block {
    //     opacity: 1;
    //     transform: translate3d(0, 0, 0);
    // }
}
