////
// SIGNATURE
//

// number of unique reveal blocks
$reveal-seqences: 18;

// animation duration
$reveal-base-duration: 100ms;


.sign-block {
    display: block;
    margin: 0 auto 1em auto;
    border: 1px solid #ccc;
}

#signature-wall {
    padding: 0 2em;
}
.signature-batch-wrapper {
    outline: none;
}
.signature {
    display: inline-block;
    width: 12.5%;

    animation: pop-upwards ease-out 300ms;

    @for $i from 1 through $reveal-seqences {
        $rand: next_random($i);
        &:nth-child(#{$reveal-seqences}n+#{$rand}) {
            animation-duration: $i * $reveal-base-duration;
        }
    }

    img {
        margin: 0 auto;
        width: 100%;
    }
}

.signature-counter {
    text-align: center;
}

#signature-form-additional {
    // initial hidden
    display: none;
}


// Small screens
@media only screen
and (max-width : 1000px) {
    .signature {
        width: 20%;
    }
}
@media only screen
and (max-width : 800px) {
    .signature {
        width: 25%;
    }
}
@media only screen
and (max-width : 600px) {
    .signature {
        width: 33.33%;
    }
}


// iPhone portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    .signature {
        width: 50%;
    }
}
