////
// SIGNATURE
//

.sign-block {
    display: block;
    margin: 0 auto 1em auto;
    border: 1px solid #ccc;
}

.signature-wall {

}
.signature {
    display: inline-block;
    width: 33.33%;

    img {
        margin: 0 auto;
        width: 100%;
    }
}

.signature-counter {
}

#signature-form-additional {
    // initial hidden
    display: none;
}


// iPhone portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    .signature {
        width: 50%;
    }
}
